@font-face {
    font-family: 'RobotoR';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoM';
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoB';
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'RobotoL';
    src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
}